- 
    var page = [
    ['Мои работы', '/portfolio.html'],
    ['Обо мне', '/about.html'],
    ['Блог', '/blog.html'],
    ['Авторизация', '/index.html'],
    ]
    var soc = [
    ['vk', 'https://vk.com/id10183899'],
    ['github', 'https://github.com/Aleksrepetskiy'],
    ['in', 'https://www.linkedin.com/in/aleksrepetskiy/'],
    ]
    
footer.footer
    div.footer__row
        div.footer__menu
            nav.nav
                ul.nav__list
                    each item in page
                        li.nav__item
                            a.nav__link(href=`${item[1]}`, target="_blank") #{item[0]}
        div.footer__social
            ul.social
                each item in soc
                        li.social__item
                            a(href=`${item[1]}` class=`social__link social__link--${item[0]}`)
                                svg(class=`icon-svg icon-svg--${item[0]}`)
                                    use(xlink:href=`images/icons/sprite.svg#${item[0]}`) 
    div.footer__row
        .footer__blockquote
            blockquote
                div Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
                div — Martin Golding 
        .footer__copyrating    
            .copyrating 
                span.copyrating__line.copyrating__line--name &copy; Репецкий Александр
                span 2017

            
        
    
